<div id="content" role="main">

    <article class="post">
    
        <h2 class="entry-title">Ultimos trends</h2>
                
        <div class="entry-content">
			<table>
				<% @trends.each do |trend| %>
					<tr>
						<td><%= link_to trend.name, trend %></td>
					</tr>
				<% end %>
			</table>
        </div> 
            
    </article> 
    
    <hr /> 

</div> 