<div id="content" role="main">

    <article class="post">
    
        <h2 class="entry-title">Qu&eacute; se dice sobre <%=@trend.name %>?</h2>
                
        <div class="entry-content">
			<table>
				<% @twits.each do |twit| %>
					<tr>
						<td>
							<%= TwitterFormatter.linkify(twit.body).html_safe %>
							<br />
							<%= link_to twit.from_user, twiterer_path(twit.from_user_id)%>
						</td>
					</tr>
				<% end %>
			</table>
        </div> 
            
    </article> 
    
    <hr /> 

</div> 